In [13]:
import pandas
import os

In [3]:
data = {'DEVICE ID':[""],
        "ADB ID":[""],
        "CARRIER":[""],
        "PH. NUMBER":[""],
        "CALL TO NO.":[""],
        "BUILD ID":[""],
        "SCENARIO":[""],
        "MARKET":[""],
        "TESTER NAME":[""]}

In [7]:
def set_data(device_id, adb_id, operator_name, phone_no, call_to_no, build_id, scenario, market, tester_name):
    data["ADB ID"] = [adb_id]
    data["DEVICE ID"] = [device_id]
    data["CARRIER"] = [operator_name]
    data["PH. NUMBER"] = [phone_no]
    data["CALL TO NO."] = [call_to_no]
    data["BUILD ID"] = [build_id]
    data["SCENARIO"] = [scenario]
    data["MARKET"] = [market]
    data["TESTER NAME"] = [tester_name]
    return data

In [8]:
def update(device_id, adb_id, operator_name, phone_no, call_to_no, build_id, scenario, market, tester_name):
    data = set_data(device_id, adb_id, operator_name, phone_no, call_to_no, build_id, scenario, market, tester_name)
    db = connect()
    df1 = pandas.DataFrame(data)
    df1.set_index(['ADB ID'], inplace=True, drop=True)
    if adb_id in db.index:
        db.loc[adb_id] = df1.loc[adb_id]
    else:
        db = pandas.concat([db, df1], sort=False)
    db.to_csv('database.csv')
    return db


def view():
    db = connect()
    return db

In [25]:
def delete(adb_id=''):
    db = connect()
    if adb_id in db.index:
        db = db.drop([adb_id])
    db.to_csv('database.csv')
    return db

In [10]:
def create_csv():
    cols=["ADB ID","DEVICE ID","CARRIER","PH. NUMBER","CALL TO NO.","BUILD ID","SCENARIO","MARKET","TESTER NAME"]
    f = open("database.csv", "w+")
    for i,item in enumerate(cols):
        if i+1<len(cols):
            f.write("{},".format(item))
        else:
            f.write(item)
    f.close()

In [11]:
def connect():
    if not os.path.exists("database.csv"):
        create_csv()
    db = pandas.read_csv("database.csv")
    db.set_index(["ADB ID"],inplace=True,drop=True)
    return db

In [14]:
update("N10PRDTVB","9710474a","TMO","4253899346","4256145362","SM8250-SDX55LA-945-HI-c9-169","SMARTEST","LV-mmW","SHADMAAN")

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
63f9ddde,N10PVHLRL,TMO,4253890913,8586105350,SM8250-SDX55LA-945-HI-c9-167,SMARTEST,LV-mmW,SHADMAAN
9710474a,N10PRDTVB,TMO,4253899346,4256145362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN

In [27]:
delete("9710474a")

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
63f9ddde,N10PVHLRL,TMO,4253890913,8586105350,SM8250-SDX55LA-945-HI-c9-167,SMARTEST,LV-mmW,SHADMAAN

In [31]:
db = view()

In [32]:
db

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
63f9ddde,N10PVHLRL,TMO,4253890913,8586105350,SM8250-SDX55LA-945-HI-c9-167,SMARTEST,LV-mmW,SHADMAAN

In [112]:
subset = db[["DEVICE ID","CARRIER","PH. NUMBER","CALL TO NO.","BUILD ID","SCENARIO","MARKET","TESTER NAME"]]

In [118]:
tuples = [tuple(x) for x in subset.values]

In [121]:
update("N10PRDTVR","9735474a","TMO","4255899346","4256134362","SM8250-SDX55LA-945-HI-c9-169","SMARTEST","LV-mmW","SHADMAAN")

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
63f9ddde,N10PVHLRL,TMO,4253890913,8586105350,SM8250-SDX55LA-945-HI-c9-167,SMARTEST,LV-mmW,SHADMAAN
9735474a,N10PRDTVR,TMO,4255899346,4256134362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN

In [162]:
db=view()

In [168]:
for adbs in db.reset_index().values:
    print(adbs)
    print('===========================')
    print(tuple(adbs))
    print('===========================')

['63f9ddde' 'N10PVHLRL' 'TMO' 4253890913 8586105350
 'SM8250-SDX55LA-945-HI-c9-167' 'SMARTEST' 'LV-mmW' 'SHADMAAN']
===========================
('63f9ddde', 'N10PVHLRL', 'TMO', 4253890913, 8586105350, 'SM8250-SDX55LA-945-HI-c9-167', 'SMARTEST', 'LV-mmW', 'SHADMAAN')
===========================
['9735474a' 'N10PRDTVR' 'TMO' 4255899346 4256134362
 'SM8250-SDX55LA-945-HI-c9-169' 'SMARTEST' 'LV-mmW' 'SHADMAAN']
===========================
('9735474a', 'N10PRDTVR', 'TMO', 4255899346, 4256134362, 'SM8250-SDX55LA-945-HI-c9-169', 'SMARTEST', 'LV-mmW', 'SHADMAAN')
===========================
['9710474a' 'N10PRDTVB' 'TMO' 4253899346 4256145362
 'SM8250-SDX55LA-945-HI-c9-169' 'SMARTEST' 'LV-mmW' 'SHADMAAN']
===========================
('9710474a', 'N10PRDTVB', 'TMO', 4253899346, 4256145362, 'SM8250-SDX55LA-945-HI-c9-169', 'SMARTEST', 'LV-mmW', 'SHADMAAN')
===========================

In [153]:
my_list = ['63f9ddde','N10PVHLRL','TMO',"4253890913","8586105350","SM8250-SDX55LA-945-HI-c9-167",'SMARTEST','LV-mmW','SHADMAAN']

In [159]:
tuple(my_list)

('63f9ddde',
 'N10PVHLRL',
 'TMO',
 '4253890913',
 '8586105350',
 'SM8250-SDX55LA-945-HI-c9-167',
 'SMARTEST',
 'LV-mmW',
 'SHADMAAN')

In [124]:
if df2.loc['63f9ddde']:
    print('It exists')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [126]:
'63f9ddde' in df2.index

True

In [186]:
cols=["DEVICE ID","ADB ID","CARRIER","PH. NUMBER","CALL TO NO.","BUILD ID","SCENARIO","MARKET","TESTER NAME"]


def create_csv():
    f = open("C:\\TOOLS\\CRASHES\\db-updater\\database.csv", "w+")
    for i,item in enumerate(cols):
        if i+1<len(cols):
            f.write("{},".format(item))
        else:
            f.write(item)
    f.close()

In [187]:

def connect():
    if not os.path.exists("C:\\TOOLS\\CRASHES\\db-updater\\database.csv"):
        create_csv()
    db = pandas.read_csv("C:\\TOOLS\\CRASHES\\db-updater\\database.csv")
    return db

In [188]:
db = connect()

In [189]:
db

Empty DataFrame
Columns: [DEVICE ID, ADB ID, CARRIER, PH. NUMBER, CALL TO NO., BUILD ID, SCENARIO, MARKET, TESTER NAME]
Index: []

In [190]:
db.set_index(["ADB ID"],inplace=True,drop=False)

In [193]:
db

Empty DataFrame
Columns: [DEVICE ID, ADB ID, CARRIER, PH. NUMBER, CALL TO NO., BUILD ID, SCENARIO, MARKET, TESTER NAME]
Index: []

In [140]:
cols

['DEVICE ID',
 'ADB ID',
 'CARRIER',
 'PH. NUMBER',
 'CALL TO NO.',
 'BUILD ID',
 'SCENARIO',
 'MARKET',
 'TESTER NAME']

In [165]:
db1=pandas.DataFrame()

In [192]:
db1

Empty DataFrame
Columns: []
Index: []

In [167]:
db1.set_index(["ADB"],inplace=True,drop=False)

KeyError: 'ADB'