In [1]:
import pandas
import os

In [2]:
data = {'DEVICE ID':[""],
        "ADB ID":[""],
        "CARRIER":[""],
        "PH. NUMBER":[""],
        "CALL TO NO.":[""],
        "BUILD ID":[""],
        "SCENARIO":[""],
        "MARKET":[""],
        "TESTER NAME":[""]}

In [3]:
def set_data(device_id, adb_id, operator_name, phone_no, call_to_no, build_id, scenario, market, tester_name):
    data["ADB ID"] = [adb_id]
    data["DEVICE ID"] = [device_id]
    data["CARRIER"] = [operator_name]
    data["PH. NUMBER"] = [phone_no]
    data["CALL TO NO."] = [call_to_no]
    data["BUILD ID"] = [build_id]
    data["SCENARIO"] = [scenario]
    data["MARKET"] = [market]
    data["TESTER NAME"] = [tester_name]
    return data

In [4]:
def update(device_id, adb_id, operator_name, phone_no, call_to_no, build_id, scenario, market, tester_name):
    data = set_data(device_id, adb_id, operator_name, phone_no, call_to_no, build_id, scenario, market, tester_name)
    db = connect()
    df1 = pandas.DataFrame(data)
    df1.set_index(['ADB ID'], inplace=True, drop=True)
    if adb_id in db.index:
        db.loc[adb_id] = df1.loc[adb_id]
    else:
        db = pandas.concat([db, df1], sort=False)
    db.to_csv('database.csv')
    return db


def view():
    db = connect()
    return db

In [5]:
def delete(adb_id=''):
    db = connect()
    if adb_id in db.index:
        db = db.drop([adb_id])
    db.to_csv('database.csv')
    return db

In [6]:
def create_csv():
    cols=["ADB ID","DEVICE ID","CARRIER","PH. NUMBER","CALL TO NO.","BUILD ID","SCENARIO","MARKET","TESTER NAME"]
    f = open("database.csv", "w+")
    for i,item in enumerate(cols):
        if i+1<len(cols):
            f.write("{},".format(item))
        else:
            f.write(item)
    f.close()

In [7]:
def connect():
    if not os.path.exists("database.csv"):
        create_csv()
    db = pandas.read_csv("database.csv")
    db.set_index(["ADB ID"],inplace=True,drop=True)
    return db

In [8]:
update("N10PRDTVB","9710474a","TMO","4253899346","4256145362","SM8250-SDX55LA-945-HI-c9-169","SMARTEST","LV-mmW","SHADMAAN")

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
9735474a,N10PRDTVR,TMO,4255899346,4256134362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN
9710474a,N10PRDTVB,TMO,4253899346,4256145362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN

In [9]:
db = view()

In [10]:
db

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
9735474a,N10PRDTVR,TMO,4255899346,4256134362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN
9710474a,N10PRDTVB,TMO,4253899346,4256145362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN

In [11]:
update("N10PRDTVR","9735474a","TMO","4255899346","4256134362","SM8250-SDX55LA-945-HI-c9-169","SMARTEST","LV-mmW","SHADMAAN")

,DEVICE ID,CARRIER,PH. NUMBER,CALL TO NO.,BUILD ID,SCENARIO,MARKET,TESTER NAME
ADB ID,,,,,,,,
9735474a,N10PRDTVR,TMO,4255899346,4256134362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN
9710474a,N10PRDTVB,TMO,4253899346,4256145362,SM8250-SDX55LA-945-HI-c9-169,SMARTEST,LV-mmW,SHADMAAN

In [12]:
db=view()

In [13]:
for adbs in db.reset_index().values:
    print(adbs)
    print('===========================')
    print(tuple(adbs))
    print('===========================')

['9735474a' 'N10PRDTVR' 'TMO' 4255899346 4256134362
 'SM8250-SDX55LA-945-HI-c9-169' 'SMARTEST' 'LV-mmW' 'SHADMAAN']
===========================
('9735474a', 'N10PRDTVR', 'TMO', 4255899346, 4256134362, 'SM8250-SDX55LA-945-HI-c9-169', 'SMARTEST', 'LV-mmW', 'SHADMAAN')
===========================
['9710474a' 'N10PRDTVB' 'TMO' 4253899346 4256145362
 'SM8250-SDX55LA-945-HI-c9-169' 'SMARTEST' 'LV-mmW' 'SHADMAAN']
===========================
('9710474a', 'N10PRDTVB', 'TMO', 4253899346, 4256145362, 'SM8250-SDX55LA-945-HI-c9-169', 'SMARTEST', 'LV-mmW', 'SHADMAAN')
===========================

In [14]:
my_list = ['63f9ddde','N10PVHLRL','TMO',"4253890913","8586105350","SM8250-SDX55LA-945-HI-c9-167",'SMARTEST','LV-mmW','SHADMAAN']

In [15]:
tuple(my_list)

('63f9ddde',
 'N10PVHLRL',
 'TMO',
 '4253890913',
 '8586105350',
 'SM8250-SDX55LA-945-HI-c9-167',
 'SMARTEST',
 'LV-mmW',
 'SHADMAAN')

In [16]:
cols=["DEVICE ID","ADB ID","CARRIER","PH. NUMBER","CALL TO NO.","BUILD ID","SCENARIO","MARKET","TESTER NAME"]


def create_csv():
    f = open("C:\\TOOLS\\CRASHES\\db-updater\\database.csv", "w+")
    for i,item in enumerate(cols):
        if i+1<len(cols):
            f.write("{},".format(item))
        else:
            f.write(item)
    f.close()